#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  background-color: #4a4a4a;
}

a:hover {
  background-color: rgb(172, 112, 39);
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.stop {
  background-color: #a83131;
}

.continue {
  background-color: #0085ae;
}

input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-card {
  background-color: #4a4a4a;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
}

.session-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
